@import '../../common/styles/mixi';

.big
    font-size: 14px

.col_fade
    color: #ababab

.panel
    .inner.userinfo
        padding: 10px
        border-top: 1px solid #e5e5e5

    .userinfo
        a
            color: #778087

.user_big_avatar
    float: left
    margin-right: 10px

    img
        imgSize(40px, 40px)

.user_profile
    margin-top: 20px
    clear: left
