html,
body
    font-size: 13px

body
    background-color: #e1e1e1

ul,
p,
h1,
h2,
h3
    margin: 0
    padding: 0

a
    text-decoration: none

li
    list-style-type: none

img
    width: 100%
    height: 100%

.global-component
    padding-top: 50px

@media (max-width: 979px)
    .global-component
        padding-top: 0
