boxLeftFloat()
    display: block
    float: left

leftFloat()
    float: left

rightFloat()
    float: right

wrappWidth()
    width: 90%

minAndMaxWidth()
    max-width: 1400px
    min-width: 960px

textEllipsis()
    overflow: hidden
    text-overflow:ellipsis
    white-space: nowrap

marginRight(n)
    margin-right: n

borderRadius(n)
    -webkit-border-radius: n
    -moz-border-radius: n
    -o-border-radius: n
    border-radius: n

imgSize(w = 30px, h = 30px, n = 3px)
    width: w
    height: h
    borderRadius(n)
