boxLeftFloat()
    display: block
    float: left

leftFloat()
    float: left

rightFloat()
    float: right

wrappWidth()
    width: 90%

minAndMaxWidth()
    max-width: 1400px
    min-width: 960px

textEllipsis()
    overflow: hidden
    text-overflow:ellipsis
    white-space: nowrap
