@import '../../common/styles/mixi';

.error-panel
    padding: 100px 0 120px
    textAlign()

    h1
        margin-bottom: 24px
        color: #fff
        font-size: 160px
        text-shadow: 1px 2px 6px rgba(0, 0, 0, .3)

    a
        color: #08c
        font-size: 18px
        text-decoration: underline
